<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leasingluxury.mapper.CustomersMapper">

    <select id="queryCustomersList" resultType="com.example.leasingluxury.pojo.Customers">
        select * from leasingluxury.customers
    </select>

    <select id="searchCustomers" statementType="CALLABLE" resultType="com.example.leasingluxury.pojo.Customers">
        {
            call searchCustomers (
                #{searchType, mode=IN, jdbcType=VARCHAR},
                #{searchContent, mode=IN, jdbcType=VARCHAR}
            )
        }
    </select>

    <insert id="add_customers" statementType="CALLABLE">
        {
            call add_customers (
                #{firstName, mode=IN, jdbcType=VARCHAR},
                #{lastName, mode=IN, jdbcType=VARCHAR},
                #{phone, mode=IN, jdbcType=CHAR},
                #{address, mode=IN, jdbcType=VARCHAR},
                #{emailAddr, mode=IN, jdbcType=VARCHAR},
                #{creditCardID, mode=IN, jdbcType=CHAR}
            )
        }
    </insert>

    <select id="getCustomerByID" parameterType="java.lang.String" resultType="com.example.leasingluxury.pojo.Customers">
        select customerID, firstName, lastName,
               concat(substr(phone, 1, 3), substr(phone, 5, 3), substr(phone, 9, 4)) as phone,
               address, emailAddr, creditCardID, totalLengthOfRental
            from leasingluxury.customers
            where customerID=#{customerID}
    </select>

    <update id="updateCustomers" parameterType="Map">
        update leasingluxury.customers
            set firstName = #{firstName},
                lastName = #{lastName},
                phone = #{phone},
                address = #{address},
                emailAddr = #{emailAddr},
                creditCardID = #{creditCardID}
            where customerID = #{customerID}
    </update>

    <delete id="deleteCustomersByID" parameterType="java.lang.String">
        delete from leasingluxury.customers
            where customerID = #{customerID}
    </delete>

    <select id="getCustomerFirstNameByID" parameterType="java.lang.String" resultType="java.lang.String">
        select firstName
            from leasingluxury.customers
            where customerID=#{customerID}
    </select>

    <select id="getCustomerLastNameByID" parameterType="java.lang.String" resultType="java.lang.String">
        select lastName
        from leasingluxury.customers
        where customerID=#{customerID}
    </select>

    <select id="best_customers" statementType="CALLABLE" resultType="com.example.leasingluxury.pojo.Customers">
        {
            call best_customers()
        }
    </select>

    <select id="report_customer_amount" statementType="CALLABLE" resultType="com.example.leasingluxury.pojo.AmountInfo">
        {
            call report_customer_amount(
                #{customerID, mode=IN, jdbcType=CHAR}
            )
        }
    </select>

</mapper>
